/* ::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  /* }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    /* color: black;
  } */ 

  /* ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    /* color:    #909;
} */ 

body{
    font-family: 'Roboto', sans-serif;
}





































